.chat
  +position(fixed, 0)
  display: flex

  &__form
    height: 36px
    display: flex

    input
      flex: 1
      border: none
      border-top: 1px solid tint($base, 80%)
      font-family: 'Helvetica Neue', 'Helvetica', sans-serif
      -webkit-font-smoothing: antialiased
      font-size: 12px
      outline: none
      padding: 0 10px