.chat
  +position(fixed, 0)
  display: flex

  &__form
    height: 36px
    display: flex

    input
      flex: 1
      border: none
      border-top: 1px solid tint($base, 80%)
      font-family: 'Helvetica Neue', 'Helvetica', sans-serif
      -webkit-font-smoothing: antialiased
      font-size: 12px
      outline: none
      padding: 0 10px

  &__side
    background-color: $base
    width: 240px
    color: $white

  &__inner
    height: 100%
    display: flex
    flex-direction: column

.count
  height: 16px   
  background-color: $brand
  text-align: center
  border-radius: 20px
  padding: 0px 3px
  min-width: 10px
  margin-left: auto
  font-size: 10px
  line-height: 1.5